<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color='primary'>
        <ion-title>registro</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background" padding text-center>
    <h1><img src="../../assets/imgs/dryclean.png" alt=""></h1>
</ion-content>